---
name: EBS Cleanup

on:
  workflow_dispatch:
    inputs:
      applications:
        description: 'e.g. nomis or leave blank for all'
        type: string
      environments:
        description: 'e.g. development or leave blank for all'
        type: string
      age_in_months:
        description: 'volumes older than _ months'
        type: string
        default: "1"

permissions:
  id-token: write
  contents: read

jobs:
  check-strategy:
    name: Check Strategy
    runs-on: ubuntu-latest
    outputs:
      matrix: "${{ steps.strategy.outputs.matrix }}"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          ref: ${{ github.ref }}

      - name: Strategy
        id: strategy
        run: |
          echo "Setting strategy matrix event=${GITHUB_EVENT_NAME}"
          if [[ "${GITHUB_EVENT_NAME}" == "workflow_dispatch" ]]; then
            matrix=$(src/get_dso_aws_accounts.sh gha "${{ github.event.inputs.applications }}" "${{ github.event.inputs.environments }}")
          else
            echo "Unsupported event ${GITHUB_EVENT_NAME}"
            exit 1
          fi
          echo '' > action_lines.txt
          echo 'matrix<<EOF' >> $GITHUB_OUTPUT
          echo "${matrix}" >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT
          echo "{$matrix}"

      # need to use this artifact method because we need to update from multiple matrices, using output vars wont suffice
      - name: Upload action lines artifact 
        uses: actions/upload-artifact@v4
        with:
          name: "action_lines.txt"
          path: action_lines.txt
          overwrite: true

  check-ebs:
    name: Check ebs
    runs-on: ubuntu-latest
    needs: check-strategy
    strategy:
      matrix: ${{ fromJson(needs.check-strategy.outputs.matrix) }}
      max-parallel: 1
    steps:
      - name: Get Account Details
        id: account
        run: |
          echo "account name: ${{ matrix.account_name }}"
          account_id="${{ fromJSON(secrets.MODERNISATION_PLATFORM_ENVIRONMENT_MANAGEMENT).account_ids[matrix.account_name] }}"
          role_arn="arn:aws:iam::${account_id}:role/modernisation-platform-oidc-cicd"
          echo "role arn:     ${role_arn}"
          echo "role_arn=${role_arn}" >> $GITHUB_OUTPUT

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502  # v4.0.2
        with:
          role-to-assume: "${{ steps.account.outputs.role_arn }}"
          role-session-name: "github-${{ github.repository_id }}-${{ github.run_id }}-1"
          aws-region: eu-west-2

      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          ref: ${{ github.ref }}
          path: dso-modernisation-platform-automation

      - name: Check ebs
        id: check
        working-directory: ${{ github.workspace }}/dso-modernisation-platform-automation
        run: |
          echo src/ebs_cleanup.sh -d -m ${{ github.event.inputs.age_in_months }} delete
          cleanup_output=$(src/ebs_cleanup.sh -d -m ${{ github.event.inputs.age_in_months }} delete)
          echo "${cleanup_output[@]}"
          action_lines=$(echo "${cleanup_output[@]}" | grep -E "vol-.+ months old. Reason: " || true)
          if [[ -n $action_lines ]]; then
            echo "cleanup=1" >> $GITHUB_OUTPUT
            {
            echo "action_lines<<EOF"
            echo "$action_lines"
            echo "EOF"
          } >> "$GITHUB_OUTPUT"
          else
            echo "cleanup=0" >> $GITHUB_OUTPUT
          fi

      - name: Download action lines Artifact
        if: ${{ steps.check.outputs.cleanup == 1 }}
        uses: actions/download-artifact@v6
        with:
          name: "action_lines.txt"

      - name: Append environment and action lines to lists
        if: ${{ steps.check.outputs.cleanup == 1 }}
        working-directory: ${{ github.workspace }}
        run: |
          echo "${{ steps.check.outputs.action_lines }}"
          echo "${{ matrix.account_name }}" >> action_lines.txt
          echo "${{ steps.check.outputs.action_lines }}" >> action_lines.txt
          echo "" >> action_lines.txt
      
      - name: Upload action lines Artifact
        if: ${{ steps.check.outputs.cleanup == 1 }}
        uses: actions/upload-artifact@v4
        with:
          name: "action_lines.txt"
          path: action_lines.txt
          overwrite: true


  cleanup-strategy:
    name: Cleanup Strategy
    needs: check-ebs
    runs-on: ubuntu-latest
    steps:
      - name: Download action lines Artifact
        uses: actions/download-artifact@v6
        with:
          name: "action_lines.txt"
      
      - name: Strategy
        id: strategy
        run: |
          echo "ACTIONS: $(cat action_lines.txt)"
          echo '>'
          echo "To delete these volumes you can use src/ebs_cleanup.sh or:"
          sed -E "s/.*(vol-[a-zA-Z0-9]+).* months old. Reason:.*/aws ec2 delete-volume --volume-id \1 --region eu-west-2/" action_lines.txt

