---
name: JumpServer Start

on:
  workflow_dispatch:
    inputs:
      jumpserver:
        type: choice
        description: Which JumpServer to start
        default: t1-jump2022-1
        options:
          - t1-jump2022-1
          - pp-jump2022-1
          - pd-jump2022-1
      dryrun:
        type: choice
        description: Dryrun mode (leave as false unless testing)
        default: false
        options:
          - true
          - false

permissions:
  id-token: write
  contents: read

run-name: "JumpServer Start (${{ inputs.jumpserver }}${{ inputs.dryrun == 'true' && ' dryrun)' || ')' }}"

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      dryrun: "${{ steps.parseinput.outputs.dryrun }}"
      matrix: "${{ steps.parseinput.outputs.matrix }}"
      jumpserver: "${{ steps.parseinput.outputs.jumpserver }}"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          ref: ${{ github.ref }}
