---
name: JumpServer Start

on:
  workflow_dispatch:
    inputs:
      jumpserver:
        type: choice
        description: Which environment to start
        default: test
        options:
          - test
          - test2
          - preproduction
          - production
      dryrun:
        type: choice
        description: Dryrun mode (leave as false unless testing)
        default: false
        options:
          - true
          - false

  schedule:
    # runs at 06:50 and 08:50 local time. 2 entries to deal with BST/GMT
    - cron: "55 5 * * 1-5"
    - cron: "55 6 * * 1-5"
    - cron: "55 7 * * 1-5"
    - cron: "55 8 * * 1-5"

permissions:
  id-token: write
  contents: read

run-name: "JumpServer Start (${{ inputs.jumpserver }}${{ inputs.dryrun == 'true' && ' dryrun)' || ')' }}"

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      dryrun: "${{ steps.parseinput.outputs.dryrun }}"
      matrix: "${{ steps.parseinput.outputs.matrix }}"
      jumpservers: "${{ steps.parseinput.outputs.jumpservers }}"
      script_flags: "${{ steps.parseinput.outputs.script_flags }}"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          ref: ${{ github.ref }}

      - name: Parse Workflow Inputs
        id: parseinput
        run: |
          get_strategy_matrix() {
            echo '{"include":['
            (
              for jumpserver in $@; do
                echo '{"jumpserver": "'$jumpserver'"},'
              done
            ) | sed '$s/,$//'
            echo ']}'
          }
          jumpservers=
          script_flags=
          dryrun=0
          if [[ "${GITHUB_EVENT_NAME}" == "workflow_dispatch" ]]; then
            jumpservers="${{ github.event.inputs.jumpserver }}"
            if [[ "${{ github.event.inputs.dryrun }}" == "true" ]]; then
              script_flags="$script_flags -d"
              dryrun=1
            fi
          elif [[ "${GITHUB_EVENT_NAME}" == "schedule" ]]; then
            cron_time="${{ github.event.schedule }}"
            is_bst=1
            if [[ $(TZ=Europe/London date +%H) == $(date -u +%H) ]]; then
              is_bst=0
            fi
            if [[ "${cron_time}" == '55 5 * * 1-5' || "${cron_time}" == '55 7 * * 1-5' ]]; then
              if ((is_bst == 1)); then
                jumpservers="test preproduction"
              fi
            elif [[ "${cron_time}" == '55 6 * * 1-5' || "${cron_time}" == '55 8 * * 1-5' ]]; then
              if ((is_bst == 0)); then
                jumpservers="test preproduction"
              fi
            else
              echo "Unsupported schedule cron ${cron_time}"
              exit 1
            fi
          else
            echo "Unsupported event ${GITHUB_EVENT_NAME}"
            exit 1
          fi
          echo "jumpservers=${jumpservers} script_flags=${script_flags} dryrun=${dryrun}"
          echo "dryrun=${dryrun}" >> $GITHUB_OUTPUT
          echo "matrix=$(get_strategy_matrix $jumpservers | jq -c)" >> $GITHUB_OUTPUT
          echo "jumpservers=${jumpservers}" >> $GITHUB_OUTPUT
          echo "script_flags=${script_flags}" >> $GITHUB_OUTPUT

  start:
    name: Start
    needs: setup
    if: ${{ needs.setup.outputs.jumpservers != '' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.matrix) }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          ref: ${{ github.ref }}

      - name: Get Account Name
        env:
          jumpserver: "${{ matrix.jumpserver }}"
        id: account_name
        run: |
          account_name=$(src/jumpserver/jumpserver_control.sh -z "$jumpserver")
          echo "account_name=${account_name}"
          echo "account_name=${account_name}" >> $GITHUB_OUTPUT

      - name: Get Account Id
        id: account_id
        run: |
          account_id="${{ fromJSON(secrets.MODERNISATION_PLATFORM_ENVIRONMENT_MANAGEMENT).account_ids[steps.account_name.outputs.account_name] }}"
          echo "account_id=${account_id}"
          echo "account_id=${account_id}" >> $GITHUB_OUTPUT

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502  # v4.0.2
        with:
          role-to-assume: "arn:aws:iam::${{ steps.account_id.outputs.account_id }}:role/modernisation-platform-oidc-cicd"
          role-session-name: "github-${{ github.repository_id }}-${{ github.run_id }}-${{ matrix.nomis_environment }}-1"
          aws-region: eu-west-2

      - name: Get Current State
        id: current_state
        env:
          jumpserver: "${{ matrix.jumpserver }}"
          script_flags: "${{ needs.setup.outputs.script_flags }}"
        run: |
          ec2_state=$(src/jumpserver/jumpserver_control.sh $script_flags -p display "$jumpserver")
          echo "$ec2_state"
          lb_state=$(src/jumpserver/jumpserver_control.sh $script_flags -m "$jumpserver")
          not_running_count=$(echo "$ec2_state" | grep -v terminated | grep -v running | wc -l)
          echo "not_running_count=${not_running_count} lb_state=$(lb_state)"
          echo "not_running_count=${not_running_count}" >> $GITHUB_OUTPUT
          echo "lb_state=${lb_state}" >> $GITHUB_OUTPUT

      - name: Disable Maintenance Mode
        env:
          jumpserver: "${{ matrix.jumpserver }}"
          script_flags: "${{ needs.setup.outputs.script_flags }}"
        if: steps.current_state.outputs.maintenance_mode == 'enabled'
        run: |
          src/jumpserver/jumpserver_control.sh -0 $script_flags "$jumpserver"

      - name: Set Instance State
        env:
          jumpserver: "${{ matrix.jumpserver }}"
          script_flags: "${{ needs.setup.outputs.script_flags }}"
        if: steps.current_state.outputs.not_running_count != '0'
        run: |
          src/jumpserver/jumpserver_control.sh $script_flags -p on "$jumpserver"
