name: Oracle Licence Audit

on:
  workflow_dispatch:
    inputs:
      operation:
        description: 'Collect audit data or summarise results'
        default: 'collection'
        required: true
        type: choice
        options: # These are the two tags that can be used with the oracle-licence-audit role
          - 'collection'
          - 'summary'
      applications:
        description: 'e.g. delius-core, nomis or leave blank to run for all'
        default: ''
        type: choice
        options: # Should match the list in the src/DBA_APPLICATIONS.txt file
          - ''
          - 'corporate-staff-rostering'
          - 'delius-core'
          - 'delius-mis'
          - 'hmpps-oem'
          - 'nomis'
          - 'nomis-combined-reporting'
          - 'oasys'
          - 'oasys-national-reporting'
      environments:
        description: 'e.g. development or leave blank to run for all'
        default: ''
        type: choice
        options:
          - ''
          - 'development'
          - 'test'
          - 'preproduction'
          - 'production'
      auditLevel:
        description: 'e.g. just audit databases, weblogic (e.g. Forms/BI Publisher) or leave blank to run for all'
        default: ''
        type: choice
        options:
          - ''
          - 'databases'
          - 'weblogic'
      SourceCodeVersion:
        description: 'Branch/tag/commit for hmpps-delius-operational-automation'
        type: string
        default: 'main'
      SourceConfigVersion:
        description: 'Branch/tag/commit for modernisation-platform-configuration-management'
        type: string
        default: 'main'

permissions:
  contents: read
  packages: read
  id-token: write

jobs:
  check-strategy:
    if: ${{ github.event.inputs.operation == 'collection' }}
    name: Build Matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.calc_matrix.outputs.matrix }}
    steps:
      - name: Checkout helper scripts
        uses: actions/checkout@v5
        with:
          path: dso-modernisation-platform-automation

      - name: Calculate strategy matrix
        id: calc_matrix
        run: |
          matrix=$(dso-modernisation-platform-automation/src/get_dba_aws_accounts.sh gha \
            "${{ github.event.inputs.applications }}" "${{ github.event.inputs.environments }}")
          echo "matrix<<EOF" >> $GITHUB_OUTPUT
          echo "$matrix" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

  oracle-licence-audit:
    if: ${{ github.event.inputs.operation == 'collection' }}
    name: Oracle Licence Audit
    needs: check-strategy
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ministryofjustice/hmpps-delius-operational-automation:0.80.0
    strategy:
      matrix: ${{ fromJson(needs.check-strategy.outputs.matrix) }}
      fail-fast: false
      max-parallel: 1
    env:
      ansible_config: ansible/ansible.cfg
      command: ansible-playbook roles/ansible/site.yml -e force_role=oracle-licence-audit
      inventory: inventory/ansible
    steps:
      - name: Checkout ansible config
        uses: actions/checkout@v5
        with:
          repository: ministryofjustice/modernisation-platform-configuration-management
          path: ansible
          ref: ${{ github.event.inputs.SourceCodeVersion }}
          fetch-depth: 0

      - name: Checkout Inventory & Roles
        uses: actions/checkout@v5
        with:
          repository: ministryofjustice/modernisation-platform-configuration-management
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            ansible/hosts
            ansible/group_vars
          path: inventory
          ref: ${{ github.event.inputs.SourceConfigVersion }}
          fetch-depth: 0

      - name: Fetch Required Roles & Site
        uses: actions/checkout@v5
        with:
          repository: ministryofjustice/modernisation-platform-configuration-management
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            ansible/roles/oracle-licence-audit
            ansible/roles/get-ec2-facts
            ansible/roles/get-modernisation-platform-facts
            ansible/roles/epel
            ansible/site.yml
          path: roles
          ref: ${{ github.event.inputs.SourceConfigVersion }}
          fetch-depth: 0

      - name: Determine Database Targets
        id: databasetargets
        if: ${{ github.event.inputs.auditLevel == '' || github.event.inputs.auditLevel == 'databases' }}
        shell: bash
        run: |
          ENV="${{ matrix.account_name }}"
          case "$ENV" in
            delius-mis*)
              TARGET="server_type_mis_db"
              ;;
            delius-*)
              TARGET="server_type_delius_core_db"
              ;;
            hmpps-oem-*)
              # hmpps-oem database group is the entire environment
              TARGET="environment_name_${ENV//-/_}"
              ;;
            nomis-combined-reporting-*)
              TARGET="server_type_ncr_db"
              ;;
            nomis-*)
              # there are two groups, fall back on the one that exists or run both
              TARGET="server_type_nomis_db,server_type_nomis_db19c"
              ;;
            corporate-staff-rostering-*)
              TARGET="server_type_csr_db"
              ;;
            oasys-national*)
              # No database in onr, so skip
              TARGET=""
              ;;
            oasys-*)
              TARGET="server_type_oasys_db"
              ;;
            *)
              # no TARGET → will be empty
              TARGET=""
              ;;
          esac
          echo "targets=$TARGET" >> $GITHUB_OUTPUT

      - name: Get Account Details
        id: account
        if: steps.databasetargets.outputs.targets != ''
        shell: bash
        run: |
          echo "account name: ${{ matrix.account_name }}"
          account_id="${{ fromJSON(secrets.MODERNISATION_PLATFORM_ENVIRONMENT_MANAGEMENT).account_ids[matrix.account_name] }}"
          role_arn="arn:aws:iam::${account_id}:role/modernisation-platform-oidc-cicd"
          echo "role arn:     ${role_arn}"
          echo "role_arn=${role_arn}" >> $GITHUB_OUTPUT

      - name: Configure AWS Credentials
        if: steps.databasetargets.outputs.targets != ''
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "${{ steps.account.outputs.role_arn }}"
          role-session-name: "oracle-licence-audit-${{ matrix.account_name }}-${{ github.run_number }}"
          aws-region: eu-west-2
          output-credentials: true

      - name: Validate Ansible Inventory Target
        if: steps.databasetargets.outputs.targets != ''
        id: valid_databasetargets
        shell: bash
        run: |
          export ANSIBLE_CONFIG=$ansible_config
          targets_str="${{ steps.databasetargets.outputs.targets }}"
          INV_GRAPH=$(ansible-inventory -i "$inventory" --graph) || INV_GRAPH=""
          # Prepare an array to hold valid groups
          VALID_GROUPS=()

          # Split on commas and test each one
          for group in ${targets_str//,/ }; do
            if echo "$INV_GRAPH" | grep -qw "$group"; then
              echo "Group '$group' found in inventory"
              VALID_GROUPS+=("$group")
            else
              echo "Group '$group' not found in inventory"
            fi
          done

          # Join the VALID_GROUPS array back into a comma-separated string
          if [ ${#VALID_GROUPS[@]} -gt 0 ]; then
            # Temporarily set IFS to comma for the join
            IFS=',' read -r -a _ <<< "${VALID_GROUPS[*]}"
            JOINED="${VALID_GROUPS[*]}"
            IFS=$'\n'   # restore IFS if you need the default
          else
            JOINED=""
          fi

          # Export for GitHub Actions
          echo "targets=$JOINED" >> "$GITHUB_OUTPUT"

      - name: Run Oracle Licence Audit
        if: steps.valid_databasetargets.outputs.targets != ''
        shell: bash
        run: |
          export ANSIBLE_CONFIG=$ansible_config
          $command \
            -i $inventory \
            --limit '${{ steps.valid_databasetargets.outputs.targets }}' \
            --tags '${{ github.event.inputs.operation }}' --tags 'databases'

      - name: Determine weblogic Targets
        id: weblogic_targets
        if: ${{ github.event.inputs.auditLevel == '' || github.event.inputs.auditLevel == 'weblogic' }}
        shell: bash
        run: |
          ENV="${{ matrix.account_name }}"
          case "$ENV" in
            delius-*)
              TARGET="server_type_delius_core_db"
              ;;
            nomis-combined-reporting-*)
              # No weblogic, so skip
              TARGET=""
              ;;
            nomis-*)
              TARGET="server_type_nomis_web,server_type_nomis_web12,server_type_nomis_web19,server_type_nomis_xtag"
              ;;
            oasys-national*)
              # No weblogic, so skip
              TARGET=""
              ;;
            oasys-*)
              TARGET="server_type_oasys_bip"
              ;;
            *)
              # no TARGET → will be empty
              TARGET=""
              ;;
          esac
          echo "targets=$TARGET" >> $GITHUB_OUTPUT

      - name: Get Account Details
        id: account_web
        if: steps.weblogic_targets.outputs.targets != ''
        shell: bash
        run: |
          echo "account name: ${{ matrix.account_name }}"
          account_id="${{ fromJSON(secrets.MODERNISATION_PLATFORM_ENVIRONMENT_MANAGEMENT).account_ids[matrix.account_name] }}"
          role_arn="arn:aws:iam::${account_id}:role/modernisation-platform-oidc-cicd"
          echo "role arn:     ${role_arn}"
          echo "role_arn=${role_arn}" >> $GITHUB_OUTPUT

      - name: Configure AWS Credentials
        if: steps.weblogic_targets.outputs.targets != ''
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "${{ steps.account_web.outputs.role_arn }}"
          role-session-name: "oracle-licence-audit-${{ matrix.account_name }}-${{ github.run_number }}"
          aws-region: eu-west-2
          output-credentials: true
          
      - name: Validate Ansible Inventory Target
        if: steps.weblogic_targets.outputs.targets != ''
        id: valid_weblogic_targets
        shell: bash
        run: |
          export ANSIBLE_CONFIG=$ansible_config
          targets_str="${{ steps.weblogic_targets.outputs.targets }}"
          INV_GRAPH=$(ansible-inventory -i "$inventory" --graph) || INV_GRAPH=""
          # Prepare an array to hold valid groups
          VALID_GROUPS=()

          # Split on commas and test each one
          for group in ${targets_str//,/ }; do
            if echo "$INV_GRAPH" | grep -qw "$group"; then
              echo "Group '$group' found in inventory"
              VALID_GROUPS+=("$group")
            else
              echo "Group '$group' not found in inventory"
            fi
          done

          # Join the VALID_GROUPS array back into a comma-separated string
          if [ ${#VALID_GROUPS[@]} -gt 0 ]; then
            # Temporarily set IFS to comma for the join
            IFS=',' read -r -a _ <<< "${VALID_GROUPS[*]}"
            JOINED="${VALID_GROUPS[*]}"
            IFS=$'\n'   # restore IFS if you need the default
          else
            JOINED=""
          fi

          # Export for GitHub Actions
          echo "targets=$JOINED" >> "$GITHUB_OUTPUT"

      - name: Run Oracle Licence Audit
        if: steps.valid_weblogic_targets.outputs.targets != ''
        shell: bash
        run: |
          export ANSIBLE_CONFIG=$ansible_config
          $command \
            -i $inventory \
            --limit '${{ steps.valid_weblogic_targets.outputs.targets }}' \
            --tags '${{ github.event.inputs.operation }}' --tags 'weblogic'

  # The summary task only needs to run once on one environment, so we're using hmpps-oem-development
  # as the target environment. This is because it needs access to the S3 bucket where the audit
  # results are stored, and the bucket is shared across all environments.
  audit-summary:
    if: ${{ github.event.inputs.operation == 'summary' }}
    name: Oracle Licence Audit Summary
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ministryofjustice/hmpps-delius-operational-automation:0.80.0
    env:
      ansible_config: ansible/ansible.cfg
      command: ansible-playbook roles/ansible/site.yml -e force_role=oracle-licence-audit
      inventory: inventory/ansible
      environment_name: hmpps-oem-development
    steps:
      - name: Checkout ansible config
        uses: actions/checkout@v5
        with:
          repository: ministryofjustice/modernisation-platform-configuration-management
          path: ansible
          ref: ${{ github.event.inputs.SourceCodeVersion }}
          fetch-depth: 0

      - name: Checkout Inventory & Roles
        uses: actions/checkout@v5
        with:
          repository: ministryofjustice/modernisation-platform-configuration-management
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            ansible/hosts
            ansible/group_vars
          path: inventory
          ref: ${{ github.event.inputs.SourceConfigVersion }}
          fetch-depth: 0

      - name: Fetch Required Roles & Site
        uses: actions/checkout@v5
        with:
          repository: ministryofjustice/modernisation-platform-configuration-management
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            ansible/roles/oracle-licence-audit
            ansible/roles/get-ec2-facts
            ansible/roles/get-modernisation-platform-facts
            ansible/roles/epel
            ansible/site.yml
          path: roles
          ref: ${{ github.event.inputs.SourceConfigVersion }}
          fetch-depth: 0

      - name: Get Account Details
        id: account
        shell: bash
        run: |
          echo "account name: ${{ env.environment_name }}"
          account_id="${{ fromJSON(secrets.MODERNISATION_PLATFORM_ENVIRONMENT_MANAGEMENT).account_ids[env.environment_name] }}"
          role_arn="arn:aws:iam::${account_id}:role/modernisation-platform-oidc-cicd"
          echo "role arn:     ${role_arn}"
          echo "role_arn=${role_arn}" >> $GITHUB_OUTPUT

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "${{ steps.account.outputs.role_arn }}"
          role-session-name: "oracle-licence-audit-${{ env.environment_name }}-${{ github.run_number }}"
          aws-region: eu-west-2
          output-credentials: true
          
      - name: Run Audit Summary
        shell: bash
        run: |
          export ANSIBLE_CONFIG=$ansible_config
          $command \
            -i $inventory \
            --limit 'environment_name_${environment_name//-/_}' \
            --tags '${{ github.event.inputs.operation }}'