---
name: SSM Command Monitoring

on:
  workflow_dispatch:
    inputs:
      applications:
        description: 'e.g. nomis or leave blank for all'
        type: string
      environments:
        description: 'e.g. development or leave blank for all'
        type: string
      interval:
        description: 'time interval to check in seconds, default 6 hours'
        type: number
        default: 21600
      round:
        type: choice
        description: 'round the time interval checked to the nearest interval'
        default: false
        options:
          - true
          - false
      dryrun:
        type: choice
        description: Dryrun mode (leave as false unless testing)
        default: false
        options:
          - true
          - false
  schedule:
    - cron: "0 * * * *"

permissions:
  id-token: write
  contents: read

jobs:
  check-strategy:
    name: Check Strategy
    runs-on: ubuntu-latest
    outputs:
      matrix: "${{ steps.strategy.outputs.matrix }}"
      interval: "${{ steps.options.outputs.interval }}"
      round: "${{ steps.options.outputs.round }}"
      dryrun: "${{ steps.options.outputs.dryrun }}"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          ref: ${{ github.ref }}

      - name: Strategy
        id: strategy
        run: |
          echo "Setting strategy matrix event=${GITHUB_EVENT_NAME}"
          if [[ "${GITHUB_EVENT_NAME}" == "workflow_dispatch" ]]; then
            matrix=$(src/get_dso_aws_accounts.sh gha "${{ github.event.inputs.applications }}" "${{ github.event.inputs.environments }}")
          elif [[ "${GITHUB_EVENT_NAME}" == "schedule" ]]; then
            matrix=$(src/get_dso_aws_accounts.sh gha "" "")
            round=true
          else
            echo "Unsupported event ${GITHUB_EVENT_NAME}"
            exit 1
          fi
          echo '' > aws_cli_commands.sh
          echo 'matrix<<EOF' >> $GITHUB_OUTPUT
          echo "${matrix}" >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT
          echo "{$matrix}"

      - name: Options
        id: options
        run: |
          dryrun=false
          round=false
          interval=21600
          echo "Setting options event=${GITHUB_EVENT_NAME}"
          if [[ "${GITHUB_EVENT_NAME}" == "workflow_dispatch" ]]; then
            dryrun="${{ github.event.inputs.dryrun }}"
            round="${{ github.event.inputs.round }}"
            interval="${{ github.event.inputs.interval }}"
          elif [[ "${GITHUB_EVENT_NAME}" == "schedule" ]]; then
            interval=3600
            round=true
          else
            echo "Unsupported event ${GITHUB_EVENT_NAME}"
            exit 1
          fi
          echo "dryrun=${dryrun} interval=${interval} round=${round}"
          echo "dryrun=${dryrun}" >> $GITHUB_OUTPUT
          echo "interval=${interval}" >> $GITHUB_OUTPUT
          echo "round=${round}" >> $GITHUB_OUTPUT

  check-ssm:
    name: Check SSM
    runs-on: ubuntu-latest
    needs: check-strategy
    strategy:
      matrix: ${{ fromJson(needs.check-strategy.outputs.matrix) }}
      fail-fast: false
    steps:
      - name: Get Account Details
        id: account
        run: |
          echo "account name: ${{ matrix.account_name }}"
          account_id="${{ fromJSON(secrets.MODERNISATION_PLATFORM_ENVIRONMENT_MANAGEMENT).account_ids[matrix.account_name] }}"
          role_arn="arn:aws:iam::${account_id}:role/modernisation-platform-oidc-cicd"
          echo "role arn:     ${role_arn}"
          echo "role_arn=${role_arn}" >> $GITHUB_OUTPUT

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7  # v6.0.0
        with:
          role-to-assume: "${{ steps.account.outputs.role_arn }}"
          role-session-name: "github-${{ github.repository_id }}-${{ github.run_id }}-1"
          aws-region: eu-west-2

      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          ref: ${{ github.ref }}

      - name: Monitor SSM Commands
        id: monitor
        env:
          dryrun: ${{ needs.check-strategy.outputs.dryrun }}
          round: ${{ needs.check-strategy.outputs.round }}
          interval: ${{ needs.check-strategy.outputs.interval }}
        run: |
          options="-i $interval -c -v"
          if [[ $dryrun == "true" ]]; then
            options="$options -d"
          fi
          if [[ $round == "true" ]]; then
            options="$options -r"
          fi
          exitcode=0
          echo src/ssm-command-monitoring/ssm-command-monitor.sh $options
          src/ssm-command-monitoring/ssm-command-monitor.sh $options 2>output.txt || exitcode=$?
          if [[ $exitcode -ne 0 ]]; then
            echo "failed on first attempt with exitcode=${exitcode}; retrying"
            # we get the odd CLI timeout, retry after a random delay
            sleep $(( 10 + RANDOM % 50 ))
            exitcode=0
            src/ssm-command-monitoring/ssm-command-monitor.sh $options 2>output.txt || exitcode=$?
          fi
          failedcount=$(cat output.txt | grep "^Verbose1: " | cut -d" " -f2- | wc -l | tr -d [[:space:]])
          ignoredcount=$(cat output.txt | grep "^Verbose2: " | cut -d" " -f2- | wc -l | tr -d [[:space:]])
          echo "exitcode=${exitcode} failedcount=${failedcount} ignoredcount=${ignoredcount}"
          echo "exitcode=${exitcode}" >> $GITHUB_OUTPUT
          echo "failedcount=${failedcount}" >> $GITHUB_OUTPUT
          echo "ignoredcount=${ignoredcount}" >> $GITHUB_OUTPUT

      - name: Dryrun SSM Commands
        if: ${{ needs.check-strategy.outputs.dryrun == 'true' }}
        run: |
          cat output.txt | grep "^DRYRUN: " | cut -d" " -f2-

      - name: Debug Failed SSM Commands
        if: ${{ steps.monitor.outputs.failedcount != 0 }}
        run: |
          cat output.txt | grep "^Verbose1: " | cut -d" " -f2-

      - name: Debug Ignored SSM Commands
        if: ${{ steps.monitor.outputs.ignoredcount != 0 }}
        run: |
          cat output.txt | grep "^Verbose2: " | cut -d" " -f2-

      - name: Debug Error
        if: ${{ steps.monitor.outputs.exitcode != 0 }}
        env:
          exitcode: ${{ steps.monitor.outputs.exitcode }}
        run: |
          cat output.txt | grep -v "^Verbose" | grep -v "^DRYRUN"
          exit $exitcode
